{% extends 'accountsBase.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post" id = "signupForm">
    {% csrf_token %}
	<div class = "loginInput">
		<input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="off" autofocus="" required="" id="id_username" readonly onfocus="this.removeAttribute('readonly');">
		<span>Username:</span>
		<div class="tooltip">
			?
			<span class="tooltiptext"> Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
		</div>
	</div>
	
	<div class = "loginInput">
	<input type="password" name="password1" autocomplete="off" required="" id="id_password1" readonly 
onfocus="this.removeAttribute('readonly');">
	<span>Password:</span>
	
	<div class="tooltip">
	?
		<span class="tooltiptext"> Your password can’t be too similar to your other personal information.<br><br>
    Your password must contain at least 8 characters.<br><br>
    Your password can’t be a commonly used password.<br><br>
    Your password can’t be entirely numeric.</span>
	</div>
	
	</div>
	<div class = "loginInput">
	<input type="password" name="password2" autocomplete="off" required="" id="id_password2" readonly 
onfocus="this.removeAttribute('readonly');">
	<span>Re-enter Password:</span>
	</div>
	
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}
