* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

.mainContainer {
    display: flex;
    position: fixed;
    width: 100%;
}

#sidebar {
    height: 100vh;
    background-color: #1c1c1c;
    width: 250px;
    color: white;
    flex-shrink: 0;
}

.sidebarHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #121212;
    font-size: 1.5rem;
    column-gap: 15px;
}

.sidebarMenuItem {
    display: flex;
    align-items: center;
    padding-left: 30px;
    column-gap: 30px;
    height: 60px;
}

.sidebarMenuItem:hover {
    cursor: pointer;
    background-color: #121212;
}

#wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 60px 1fr 30px;
}

#content {
    overflow-y: scroll;
}

#wrapper>* {
    padding: 5px;
}

#header {
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

#header i {
    font-size: 40px;
    
}

#header i:hover {
    cursor: pointer;
}

#content {
    background-color: #cdcfd1;
}

#footer {
    background-color: white;
    font-size: 18px;
    text-align: center;
}




.search-box {
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
}
.search-box + label .search-icon {
    color: black;
}
.search-box:hover {
    color: white;
    background: #c8c8c8;
    box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
    color: white;
}
.search-box:focus {
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
}
.search-box:focus + label .search-icon {
    color: black;
}
.search-box:not(:focus) {
    text-indent: -5000px;
}
#search-submit {
    position: relative;
    left: -5000px;
}
.search-icon {
    position: relative;
    left: -32px;
    color: white;
    cursor: pointer;
}

.headerSpacer {
    width: 50px;
}


.imgContainer img {
    width: 30px;
}

.profileButton:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.profileButton {
    margin-left: auto;
    /*background-color: chocolate;*/
    display: flex;
    
    height: 100%;
    align-items: center;
 
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    

}



 

.dropbtn {
    display: flex;
    column-gap: 10px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    
  }